<blog-title></blog-title>
<div class="feed">
    <div class="feed__featured">
        <featured-post
        postID="1"
        postPicture="../../../assets/images/placeholder.png" 
        pictureAlt="Featured Post placeholder"
        postTitle="This is a featured Post"
        postDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
    </div>
    <div class="feed__other">
        <other-post
        postID="2"
        postPicture="../../../assets/images/placeholder.png"
        pictureAlt="Secondary Post placeholder"
        postTitle="This is a secondary Post"
        postDescription="Lorem ipsum dolor sit amet [...]"/>
        <other-post
        postID="3"
        postPicture="../../../assets/images/placeholder.png"
        pictureAlt="Secondary Post placeholder"
        postTitle="And another secondary Post"
        postDescription="[...] consectetur adipiscing elit [...]"/>
        <other-post
        postID="4"
        postPicture="../../../assets/images/placeholder.png"
        pictureAlt="Secondary Post placeholder"
        postTitle="And one more secondary Post"
        postDescription="[...] sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
    </div>
</div>